/Data/*
/Codes/*
/q/*
/ReplicationData/*
/Presentation/*
/_bookdown_files/*
/.Rproj.user/*
/docs/.DS*
knit_rmd.R
DataPrep.R
Notes.Rmd
book.bib
todo.md
.Rproj.user
.RData
.DS_Store
.Rhistory
R_GIS_Books.rds
preamble.tex
*.tif