p.caption {
  color: #777;
  margin-top: 10px;
}

pre {
  background: #FFECEC !important;
}

p code {
  background-color: #dfdfdf !important;
}

li code {
  background-color: #dfdfdf !important;
}

/* code a:any-link {
  background: #dcdcdc;
  text-decoration-color: #dcdcdc;
} */

/* pre code {
  background: #F4F4FF !important;
} */

pre.downlit.sourceCode.r {
  background: #F4F4FF !important;
}

/* div.sourceCode {
  background-color: #F4F4FF !important;
} */

/* pre.r {
  background-color: #F4F4FF !important;
} */