p.caption {
  color: #777;
  margin-top: 10px;
}

p code {
  background-color: #dcdcdc !important;
}

pre.r {
	background-color: #F4F4FF !important;
}

pre {
	background-color: #FFECEC !important;
}

