p.caption {
  color: #777;
  margin-top: 10px;
}

pre {
  background: #FFECEC !important;
}

p code {
  background-color: #dfdfdf !important;
}

li code {
  background-color: #dfdfdf !important;
}

/* code a:any-link {
  background: #dcdcdc;
  text-decoration-color: #dcdcdc;
} */

/* pre code {
  background: #F4F4FF !important;
} */

pre.downlit.sourceCode.r {
  background: #F4F4FF !important;
}

/* div.sourceCode {
  background-color: #F4F4FF !important;
} */

/* pre.r {
  background-color: #F4F4FF !important;
} */

/* @font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(S6uyw4BMUTPHvxo.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w9.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vqPQA.woff) format('woff');
} */